.l-center {
  text-align: center;
}

.l-left {
  text-align: left;
}

.l-right {
  text-align: right;
}

.l-half > * {
  width: 50%;
}
  
.l-third > * {
  width: 33.3%;
}

.l-quarter > * {
  width: 25%;
}

.l-bottom-none {
  margin-bottom: 0 !important;
}

.l-bottom-xsmall {
  margin-bottom: 5px !important;
}

.l-bottom-small {
  margin-bottom: 10px !important;
}

.l-bottom-medium {
  margin-bottom: 20px !important;
}

.l-bottom-large {
  margin-bottom: 40px !important;
}

.l-bottom-xlarge {
  margin-bottom: 60px !important;
}

.l-top-none {
  margin-top: 0 !important;
}

.l-top-small {
  margin-top: 10px !important;
}

.l-top-medium {
  margin-top: 20px !important;
}

.l-top-large {
  margin-top: 40px !important;
}

.l-top-xlarge {
  margin-top: 60px !important;
}